.definition {
    border-bottom: 1px solid black;
    margin: 20px;
}

.definition:last-child {
    border-bottom: 0px;
}

.quote {
    background-color: #eceeef;
    border-radius: .3rem;
}

.super {
    vertical-align: super;
    font-size: smaller;
}

.synonym {
    color: blue;
}

.search-box {
    padding-top: 20px;
}

.example {
    display: inline;
    border-left: 1px solid black;
    padding: 0 3px 0 3px;
}

.example:first-child {
    border-left: 0;
    padding: 0 3px 0 0;
}

.transcription {
    display: inline;
    margin-left: 5px;
}

.details {
    display: inline;
}
